
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}

.post img {
    width: 90%;
    object-fit: cover;
    margin:  5px 0;
}
.post p {
    text-align: left;
}
.post button {
    margin: 5px 0;
    padding: 5px;
    width:45%;
    border-radius: 100px;
    border: none;
    box-sizing: border-box;

}

.post .post__answer {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 5px solid #494949;
    padding: 5px;
    margin: 0 0 0 15px;


}

.post__question {
    font-style: italic;
    background-color: #bebebe96;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.answer {
    width: 100%;
}

.new__question__answer, .new__question__image {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.answer section textarea {
    
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
}

.post__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;

}

.new__question__image {
    margin-bottom: 15px;
}