#root {
  text-align: center;
}

body {
  margin:0;
  background-color: #c3c1c1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav a:hover {
  color: #ff0000;
}

main {
  margin-top:20px;
  margin-bottom:60px;
}
